:root {
    --deep-chestnut: #B84D47;
    --off-white: #FAF9F6;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/Norse-Bold.otf");
}

@font-face {
    font-family: "Monsterrat Bold";
    src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Monsterrat Regular";
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Monsterrat Medium";
    src: url("./fonts/Montserrat-Medium.ttf");
}

/* General styling */

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    font-family: 'Monsterrat Regular';
}


/* Left side styling */

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the credits to the bottom */
    background-image: url(./images/kelli-mcclintock-o0NLiNny9-M-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 33vw;
}

.credits > a {
    color: black;
    /* Add spacing between HTML anchor tags */
    margin-right: 5px;
    margin-left: 5px;
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 20vh;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.company-logo {
    width:  20%;
    height: auto;
    align-self: flex-start;

}

.company-title {
    color: #111827;;
    font-family: 'Norse Bold', sans-serif;
    font-family: 'Monsterrat Bold', sans-serif;
    font-size: 7rem;
}

.credits {
    color: black;
    font-size: 1rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    
    margin-bottom: 0.5rem;

}


/* Right side styling */


.right {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
    width: 67vw;
    background-color: rgb(255, 253, 253); 
}

/* main text */
.text-container {
    margin-bottom: 6rem;
    margin-left: 3rem;
}

.main-text {
    width: 50vw;
    font-weight: 500;
}

.secondary-text {
    margin-top: 1rem;
}

/* form */

.form-container {
    width: 67vw;
    box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.single-form {
    display: flex;
    flex-direction: column;
}

.single-form > label {
    font-family: "Monsterrat Medium";
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
}

.single-form > input {
    padding: 6px 8px;
    border: 1px solid #E5E7EB;
    font-size: 1rem;
    border-radius: 4px;
    width: 18rem;
    margin-bottom: 1.125rem;
}

#password {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.single-form > input:focus {
    outline: none; /* removes default focus black border */
    border: 1px solid blue;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.single-form > input:invalid {
    outline: none;
    border: 1px solid red;
}

.form-container {
    padding: 1rem 3rem;
    margin-bottom: 3rem;
}

.form-container > h2 {
    margin-bottom: 1.5rem;
}

.form-div {
    display: flex;
    gap: 5.25rem;
}

#match {
    color: red;
    font-size: 0.8rem;
    margin-top: 0;
}

/* button/footer styling */

.right > p {
    margin-left: 3rem;
    margin-top: 2rem;
}

button {
    margin-left: 3rem;
    background-color: #111827;
    color: white;
    font-family: "Monsterrat Bold", sans-serif;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 1rem 3rem;
    cursor:pointer;
    width: 17rem;
    border: none;
    transition: 0.5s;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.15em);
} 

.login-link {
    color: #272011;
    font-weight: 1000;
    text-decoration-color: #464646;
}

.btn {
    border: none;   
}
